/* Imports
_____________________________________________ */
@import url('https://fonts.googleapis.com/css?family=Poppins');

/* Global Varibles
_____________________________________________ */
:root {
  /* Grays */
  --gray-1: #fafaf9;
  --gray-2: #e7e5e4;
  --gray-3: #292524;
  --gray-4: #1c1917;
  --gray-m: #78716c;

  /* Color Palettes */
  --main-blue: #6895d2;
  --accent-red: #d04848;

  /* Shadows */
  --bottom-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --card-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
    0 2px 4px -2px rgb(0 0 0 / 0.1);
}

/* Main Grid Content Styles
_____________________________________________ */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

main {
  display: grid;
  grid-template: 200px 4fr / minmax(300px, 0.8fr) 5fr;
  grid-template-areas:
    'main-grid-sidebar main-grid-header'
    'main-grid-sidebar main-content';
  min-height: 100vh;
  color: var(--gray-3);
}

.main-grid-header {
  grid-area: main-grid-header;
  background-color: var(--gray-1);
  box-shadow: var(--bottom-shadow);
}

.main-content {
  grid-area: main-content;
  background-color: var(--gray-2);
  overflow: auto;
}

.main-grid-sidebar {
  grid-area: main-grid-sidebar;
  background-color: var(--main-blue);
}

.icon {
  height: 30px;
  width: 30px;
}

/* Sidebar Styles
_____________________________________________ */
.main-grid-sidebar {
  padding-top: 10%;
  color: var(--gray-1);
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 3%;
}

.sidebar-content.sidebar-header {
  flex-direction: row;
}

.sidebar-content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 55vh;
  padding: 40px 0;
  padding-left: 3%;
}

.nav-wrapper {
  display: flex;
  gap: 16px;
}

.sidebar-content p,
.sidebar-content h1 {
  margin: 0;
  text-align: start;
}

.sidebar-content h1 {
  font-size: 2.5rem;
  font-weight: bolder;
}

.sidebar-content p {
  font-weight: bold;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--gray-1);
}

.sidebar-content p:hover,
.projects-wrapper p:hover {
  color: var(--gray-2);
  scale: 1.1;
  cursor: pointer;
}

.sidebar-header {
  align-items: center;
}

.sidebar-header img {
  width: 70px;
  height: 70px;
}

.sidebar-tools img,
.sidebar-nav img {
  justify-self: center;
}

.sidebar-tools {
  justify-self: flex-end;
}

.sidebar-header:hover {
  cursor: pointer;
  opacity: 0.8;
}

.projects-wrapper {
  padding-left: 20%;
  padding-top: 2%;
  display: none;
}

.projects-wrapper p {
  font-size: 1.1rem;
  font-weight: normal;
  padding: 3px 5px;
  border-left: 2px solid var(--gray-m);
}

.nav-wrapper-project:hover .projects-wrapper {
  display: flex;
  flex-direction: column;
}

.nav-wrapper.nav-wrapper-project {
  display: inline;
}

/* Header Styles
_____________________________________________ */
.main-grid-header {
  display: flex;
  height: 100%;
  align-items: stretch;
}
.header-content-wrapper {
  width: 100%;
  padding: 10px 40px;
  display: grid;
  grid-template-rows: 0.8fr 1fr;
}

.header-top,
.header-bottom {
  display: grid;
}

.header-top {
  grid-template-columns: 3fr 1fr;
  gap: 125px;
}

.header-top input[type='search'] {
  border: none;
  border-radius: 30px;
  background-color: var(--gray-2);
  padding-left: 10px;
  font-size: 1.1rem;
}

.header-top div {
  display: grid;
}

.header-top-left {
  grid-template-columns: min-content 1fr;
  align-content: center;
  gap: 15px;
}

.header-top-left img {
  justify-self: end;
}

.header-top img:hover,
.header-top-right p:hover {
  scale: 1.2;
  opacity: 0.8;
  cursor: pointer;
}

.header-top-right {
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  justify-items: center;
}

.header-top-right .icon {
  align-self: center;
}

.header-top .user-logo {
  width: 60px;
  height: 60px;
}

.header-bottom {
  grid-template-columns: 1fr 0.6fr;
}

.header-bottom-left {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 20px;
  align-items: center;
}

.header-bottom-left-child.user-logo {
  width: 90px;
  height: 90px;
}

.hello-text * {
  margin: 0;
  padding: 0;
}

.header-bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.header-button {
  border-radius: 30px;
  width: 90%;
  height: 35%;
  border: none;
  background-color: var(--main-blue);
  color: var(--gray-1);
  font-size: 1.1rem;
  cursor: pointer;
}

.header-button:hover {
  opacity: 0.8;
}

/* Main Grid Content Styles
_____________________________________________ */
.main-content h3 {
  margin: 32px 0 10px 0;
  padding: 0;
}

.main-content-left,
.main-content-right {
  padding-bottom: 25px;
}

.main-content-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr;
  padding: 0 2vw;
  padding-bottom: 2vw;
}

.content-left-cards {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
}

.card {
  background-color: var(--gray-1);
  border-radius: 9px;
  box-shadow: var(--card-shadow);
}

.main-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 7% 5% 3% 5%;
  border-left: 12px solid var(--accent-red);
}

.main-card img {
  height: 3vh;
  width: 3vh;
}

.card-content h3,
.card-content p,
.card-content p {
  margin: 0;
  padding: 0;
}

.card-content .card-project-title {
  font-size: 0.9rem;
}

.card-content h3 {
  font-size: 1rem;
}

.card-content p {
  font-size: 0.8em;
}

.card-tools {
  display: flex;
  justify-content: end;
  gap: 20px;
}

.card-tools p:hover {
  opacity: 0.5;
  scale: 1.2;
  cursor: pointer;
}

/*FOOTER
------------------------------*/
footer p {
  color: #bcaa96;
}

footer a:hover {
  color: #3c8453;
}

footer {
  background: #222;
  color: #d3d4d6;
  padding: 0 20px;
}

footer a {
  text-decoration: none;
  color: #bcaa96;
}

.socials {
  list-style-type: none;
  padding: 0;
}

.socials li {
  align-self: center;
  display: inline-block;
  margin-left: 10px;
  padding-top: 6px;
}

.socials img {
  width: 32px;
}

.socials img:hover {
  opacity: 0.5;
}

@media screen and (min-width: 560px) {
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 559px) {
  footer {
    text-align: center;
    padding: 10px;
  }
}

/* Media Query Styles
_____________________________________________ */

@media screen and (min-width: 2200px) {
  * {
    font-size: 1.2rem;
  }
}
